.logo-section {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #fdfdfd;
    border-radius: 8px;
    padding: 1rem;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 1070px;
  }
  
  .logo-section img {
    height: 80px;
  }
  