/* Estilo geral para o filtro (sidebar) */
.side-menu {
  position: fixed;
  top: 8vh; /* Coloca o filtro abaixo do cabeçalho */
  left: 0; /* Alinha no canto esquerdo da tela */
  padding: 1rem;
  width: 230px; /* Ajuste a largura conforme necessário */
  background-color: #fff; /* Contraste para visibilidade */
  box-shadow: 2px 0px 10px rgba(68, 68, 68, 0.1); /* Opcional: adicione sombra para destacar o sidebar */
  z-index: 999; /* Certifique-se de que o sidebar fique acima do conteúdo */
  height: calc(100vh - 17.6vh);
  overflow-y: auto;  /* ativa rolagem vertical se necessário */
}

/* Estilo para os itens dentro do sidebar */
.filter-item {
  border-bottom: 1px solid #9a9a9a;
  padding-bottom: 2px;
  padding-top: 0.5rem;
}

/* Estilo para o cabeçalho de cada item do filtro */
.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* Estilo para o rótulo do filtro */
.filter-label {
  display: flex;
  align-items: center;
  gap: 1.1rem;
  color: #464646;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo para o ícone de filtro */
.filter-icon {
  color: #777777;
}

/* Estilo para a rotação do ícone */
.chevron-icon {
  transition: transform 0.3s;
  color: #6d6d6d;
}

/* Estilo para a rotação do ícone de chevron */
.rotate-180 {
  transform: rotate(180deg);
}

/* Estilo para o conteúdo dos filtros */
.filter-content {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #2d2d2d;
}

/* Estilo para o campo de entrada do filtro */
.filter-input {
  border: none;
  border-bottom: 1px solid #9a9a9a;
  background: transparent;
  margin-bottom: 5px;
  outline: none;
  color: #313131;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filter-options {
  list-style: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  margin: 0;
  margin-bottom: 4px;
}


.filter-option:hover {
  background-color: #f0f0f0; /* cinza claro */
}

.filter-option.selected {
  background-color: rgb(197, 197, 197); /* cinza claro ao clicar */
}

.filter-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 10px;
}

.apply-btn,
.clear-btn {
  flex: 1;
  padding: 8px;
  font-size: 12px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(84, 84, 84, 0.2);
  transition: box-shadow 0.2s ease;
  
}

.apply-btn {
  background-color: #77ac81;
  color: rgb(255, 255, 255);
}

.clear-btn {
  background-color: #4071b2;
  color: rgb(255, 255, 255);
}
