.filter-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 250px;
}

.filter-item {
  border-bottom: 1px solid #000000;
  padding-bottom: 0.5rem;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.filter-label {
  display: flex;
  align-items: center;
  gap: 1.1rem;
  color: #000000;
}

.filter-icon {
  color: #000000; /* Gray-700 */
}

.chevron-icon {
  transition: transform 0.3s;
  color: #000000;
}

.rotate-180 {
  transform: rotate(180deg);
}

.filter-content {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #000000; /* Gray-500 */
}

.filter-input {
  border: none;
  border-bottom: 1px solid #262626;
  background: transparent;
  outline: none;
  font-size: 1rem;
  color: #eb7777;
  width: 90%;
}

.filter-menu {
  position: fixed;
  top: 3rem; /* Alinha no topo */
  left: 0; /* Alinha no canto esquerdo */
  padding-top: 3rem;
  padding: 1rem;
  width: 250px; /* Ou o tamanho que preferir */
  height: 90%; /* Para garantir que ocupe toda a altura da tela */
  background-color: #fff; /* Para dar contraste e melhorar a visibilidade */
  z-index: 1000; /* Para garantir que fique acima de outros elementos */
}