/* Estilo geral */
  body {
        font-family: Arial, sans-serif;
        color: #333;
        margin: 0;
        padding: 0;
  }
  
  /* Container da tabela */
  .table-container {
    width: 81.8%;
    height: calc(100vh - 13.2vh);
    position: absolute; /* Tira o fixo, para que a tabela se mova com a rolagem */
    right: 0; /* Fixa à direita da tela */
    top: 8vh; /* Ajusta a tabela logo abaixo do cabeçalho */
    overflow-x: auto;
    z-index: 10; /* Define o z-index menor que o do cabeçalho */
  }
  
  /* Estilos da tabela */
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    top: 50px; /* Ajuste a distância do topo, se necessário */
    background-color: white; /* Para garantir que o fundo da tabela seja branco */
    border: 1px solid #ddd;
  }
  
  /* Cabeçalho da tabela */
  thead tr {
    background-color: #7FBA8A;
    color: rgb(255, 255, 255);
  }
  
  th, td {
    border: 1px solid #cdcdcd;
    padding: 8px;
    text-align: center;
  }
  
  /* Caption da tabela */
  caption {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  /* Linhas alternadas */
  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  tbody tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  /* Ajuste para o texto não vazar */
  th, td {
    min-width: 120px;
    word-break: break-word;
    color: #333;
  }
  
  /* Responsividade extra para telas pequenas */
  @media (max-width: 768px) {
    table {
      font-size: 10px;
    }
  
    th, td {
      min-width: 100px;
      padding: 6px;
    }
  }
  